.window{
    height: 100%;
    width: 100%;
    color: rgb(168, 168, 168);
   
    background-color: #060606;
    border-radius: 0.75rem;
    overflow: hidden;
     .nav{
        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        display: flex;
        flex-direction: row;
       border-bottom: 1px solid rgba(245, 245, 245, 0.24);
        gap: 1.5rem;

        .title{
        //  padding-left: 3%;
         font-size: 12px;
         font-weight: 500;
         font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
        }
        .dots{
            display: flex;
            gap: 5px;
        }
        .dot{
            height: 15px;
            width: 15px;
            background: #ffffff;
            border-radius: 50%;
        }
        .red{
        background-color: #eb3535;
     }
     .yellow{
        background-color: #fcff49;
     }
     .green{
        background-color: rgb(82, 238, 30);
     }
     }
    
}
.main-content{
    height: 100%;
}