.note-window{
    padding: 1rem;
    height:100%;
    overflow-y: auto;
    padding-bottom: 14rem;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
    pre{
        background-color: transparent !important;
    }

}