.dock{
    gap:0.75rem;
    display: flex;
    position:absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    backdrop-filter: blur(5px);
   background-color: #0000006b;
   padding-inline: 1rem;
   padding-block: 0.75rem;
   border-radius: 0.75rem;


  .icon{
    padding:0.65rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 3.75rem;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }  

  //under stand this animation concepts
  .icon:hover{
   
    transform: scale(1.27) translateY(-22%); 
  } 
  
.icon:hover + .icon,
.icon:has(+ .icon:hover){
    transform: scale(1.1) translateY(-10%); 
  }


  .github{background: #000;}
  .note{background:linear-gradient(to bottom, rgba(255, 179, 87) , rgb(255, 153, 28),);}
  .pdf{background:rgb(254, 25, 25);}
  .calender{background:linear-gradient(to bottom, rgb(105, 94, 255) , rgb(66, 22, 255),);}
  .spotify{background:linear-gradient(to bottom, rgb(25, 255, 41) , rgb(24, 141, 15),);}
  .mail{background:linear-gradient(to bottom, rgb(105, 94, 255) , rgb(66, 22, 255),);}
  .link{background:linear-gradient(to bottom, rgb(163, 97, 170) , rgb(142, 33, 142),);}
  .cli{background: #000;}
}