nav{
    width: 100%;
    color: rgb(255, 255, 255);
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    background-color: #9e9e9e45;
    backdrop-filter: blur(5px);


    display: flex;
    justify-content: space-between;
   
p{
    font-size: 12px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.left{
    display: flex;
   gap: 1rem;
    
}

.right{
 display: flex;
 gap: 1rem;
 .nav-item{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
}
}
