*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'helvetica neue';
}
html,
body,#root{
height: 100%;
width:100vw;
}
main{
    height: 100%;
    width: 100vw;
    background-image: url(/Mountainwall.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
body{
    background-color: black;
  
}
