*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'helvetica neue';
}
html,
body,#root{
height: 100%;
width:100%;
}
main{
    height: 100%;
    width: 100%;
    background-image: url(./public/Mountainwall.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body{
    background-color: black;
}